<div class="container-fluid signup-bg">
  <div class="main-title row">
    <h1 class="col-xs-12 header-login">Sign up</h1>
  </div>
  <div class="form-container row">
    <%= form_for :user, url: '/users', html: {class: "login-form col-centered col-md-3 col-xs-12"} do |f| %>
      <div class="input-container">
        <%= f.text_field :first_name, class: "col-xs-12", placeholder:  "First Name" %>
      </div>
      <div class="input-container">
        <%= f.text_field :last_name, class: "col-xs-12", placeholder:  "Last Name" %>
      </div>
      <div class="input-container">
        <%= f.text_field :username, class: "col-xs-12", placeholder:  "Username" %>
      </div>
      <div class="input-container">
        <%= f.text_field :email, class: "col-xs-12", placeholder:  "Email Address" %>
      </div>
      <div class="input-conatiner">
        <%= f.password_field :password, class: "col-xs-12", placeholder:  "Password" %>
      </div>
      <div class="input-container">
        <%= f.password_field :password_confirmation, class: "col-xs-12", placeholder:  "Confirm password" %>
      </div>
      <div class="input-container">
        <%= f.submit "Submit", class: "submit-login" %>
      </div>
    <% end %>
  </div>
</div>