<!DOCTYPE html>
<html ng-app="resourceApp" lang="en">
  <head>
    <title>ReSource</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content=="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- below is to use like a native app. disables zooming. users are only able to scroll. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="menu-panel-left visible-xs visible-sm visible-md">
      <%= render 'settings_user' %>
    </div>

    <div class="root-container">
      <div class="menu-panel-right visible-xs visible-sm visible-md">
        <% render "journey_new" %>
      </div>
      <%= render 'navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
